body {
    font-family: Arial;
    padding: 20px;
}

input {
    display: block;
    margin-bottom: 5px;
    padding: 8px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}